name: Terraform Plan

on: workflow_dispatch

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      ARM_CLIENT_ID: ${{secrets.DMW_ARM_CLIENT_ID}}
      ARM_CLIENT_SECRET: ${{secrets.DMW_ARM_CLIENT_SECRET}}
      ARM_SUBSCRIPTION_ID: ${{secrets.DMW_ARM_SUBSCRIPTION_ID}}
      ARM_TENANT_ID: ${{secrets.DMW_ARM_TENANT_ID}}

    steps:
      - uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Format
        run: terraform fmt -check

      - name: Terraform Plan
        run: terraform plan
